# on/off. Should be 'off' for production and staging
DJANGO_DEBUG=on
# can be generated here http://www.miniwebtool.com/django-secret-key-generator/
DJANGO_SECRET_KEY="-z$4z#z7v5g^zx-79xu#qlh-m3m@pb!m_qcylfs%55yytu&5xs"
# <name>:<email>,<name>:<email>
DJANGO_ADMINS=Nikolay Gavryliuk:gavrilyuk.nikolay@gmail.com,

#DJANGO_ALLOWED_HOSTS=example.com,example2.com
#DJANGO_STATIC_ROOT=path/to/static/root
#DJANGO_MEDIA_ROOT=path/to/media/root
#DJANGO_DATABASE_URL=postgis:///cityfleet
#DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

SERVER_EMAIL=root@localhost.com

CELERY_BROKER_URL=redis://localhost:6379/1
DJANGO_CELERY_BACKEND=redis://localhost:6379/1
# Socrata token
APP_TOKEN="socrata token"
# twitter consumer key
CONSUMER_KEY="twitter_consumer_key"
# twitter consumer secret
CONSUMER_SECRET="twitter_consumer_secret"
# instagram client secret
CLIENT_SECRET="instagram_client_secret"
GCM_API_KEY="gcm_api_key"
APNS_CERTIFICATE_PATH="/path/to/your/apns_certificate.pem"
REDIS_URL=redis://localhost:6379

# should be off for production
DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_CELERY_ALWAYS_EAGER=off
