DATABASE_URL=

DJANGO_DEBUG=

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=CHANGEME!!!vwm^8kx#(@uimw06pp@jjnp5z59m5pv3zy!a@%plv=_rdngxlo
DJANGO_ALLOWED_HOSTS=.example.com

DJANGO_EMAIL_BACKEND=
DJANGO_DEFAULT_FROM_EMAIL=
DJANGO_SERVER_EMAIL=
DJANGO_EMAIL_SUBJECT_PREFIX=

DATABASES['default'] = env.db("DATABASE_URL")

APP_TOKEN=
PAYPAL_CLIENT_ID=AX2IlNA9YPB_MuwhBLEmpoG6nbdSBP7OV-9t9zWCq88Hcadzyp_KwA-COFdylCl7Z2bBk_N_qoWwYuF4
PAYPAL_CLIENT_SECRET=ENu96YkDSVFdjJ5V2cWr135DoxePUuLV38e9KBv8dqUGA4qZhRR8GcIgP75laXIYuaN-uCukAzacTLgX
