DATABASE_URL=

DJANGO_DEBUG=

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=CHANGEME!!!vwm^8kx#(@uimw06pp@jjnp5z59m5pv3zy!a@%plv=_rdngxlo
DJANGO_ALLOWED_HOSTS=.example.com

DJANGO_EMAIL_BACKEND=
DJANGO_DEFAULT_FROM_EMAIL=
DJANGO_SERVER_EMAIL=
DJANGO_EMAIL_SUBJECT_PREFIX=

DATABASES['default'] = env.db("DATABASE_URL")

APP_TOKEN=
