[program:web]
command=/var/app/citifleet/venv/bin/daphne config.asgi:channel_layer --bind=127.0.0.1 -p 8001
directory=/var/app/citifleet
numprocs=1
autostart=true
autorestart=true
startretries=3
user=nick
environment=LANG="en_US.UTF-8",
            LC_ALL="en_US.UTF-8",
            LC_LANG="en_US.UTF-8",
redirect_stderr=true
stdout_logfile=log/web.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3

[program:worker]
command=/var/app/citifleet/venv/bin/python manage.py runworker
user=nick
autostart=true
autorestart=true
startretries=3
numprocs=1
redirect_stderr=true
stdout_logfile=log/worker.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3

[program:celery]
command=celery -A citifleet.taskapp.celery.app worker -B
user=nick
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=log/celery.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3

[group:citifleet]
programs=web,worker,celery
priority=999
