{% extends "base.html" %}

{% block content %}
  socket url - ws://{{ request.get_host }}/?token=AUTH_TOKEN

  <h1>Send message</h1>
  <p>Message format = {'method': 'post_message', 'text': "message text", 'room': room_id, 'image': Base64EncodedImage}</p>

  <h1>Mark chat room as read</h1>
  <p>Message format = {'method': 'read_room', 'room': room_id}</p>

  <h1>New message received</h1>
  <p>Message format = {'method': 'receive_message', 'text': "message text", 'room': room_id,
                       'created': created_timestamp, 'author_info': {'full_name': , 'phone' , 'id' , 'avatar_url': }}</p>

  <h1>Invitation to new room received</h1>
  <p>Message format = {'method': 'room_invitation', 'id': room id, 'name': room name, 'label': room label, 'participants_info': list of room participants,
                       'last_message': last message, 'last_message_timestamp': last message timestamp}</p>

{% endblock content %}
